@charset "utf-8";
* {
    margin: 0;
    padding: 0;
  font-family: Tahoma,Arial,sans-serif;

}

/*px to rem函数*/
@function px2rem($px,$base-font-size:75px) {
  @if(unitless($px)) {
    @return px2rem($px+0px);
  }@else if(unit($px)==rem) {
@return $px;
}
@return ($px/$base-font-size)*1rem
}

@mixin font-dpr($font-size){
   font-size: $font-size; 
   [data-dpr="2"] & {
     font-size: $font-size *2;
    } 
   
   [data-dpr="3"] & { 
     font-size: $font-size * 3;
    } }

@mixin ts-subtitle-font {
  color: #000000;
  //font-size: 16px;
  @include font-dpr(16px);
  font-weight: 900;
}

@mixin ts-cell-border {
  border-left: 8px solid #ffffff;
  border-right: 8px solid #ffffff;
}

@mixin  ts-subtitle-margin {
  margin-left: 16px;
  margin-top: 20px;
}

@mixin ss-subcontent-font {
   @include font-dpr(14px);
  //font-size: 14px;
  font-weight: 600;
font-family: 华文楷体;
  color: #000000;

}

body

.ts-number {
    border-bottom: 0.0266rem solid black;
    height: 0.9333rem;
}



.ts-number p {
    font-family: Tahoma,Arial,sans-serif;
    font-weight: 700;
  @include font-dpr(12px);
//font-size: 12px;
    position: absolute;
       top: 0.2933rem;
  left: 3.68rem;



}

.fa-ellipsis-v {
    position: absolute;
    top: 0.2933rem;
  right: 0.2666rem;

}

.fa-angle-left {

    position: absolute;
    top: 0.2933rem;
    left: 0.2666rem;

}

.ts-lianming {
  width: 2.0513rem;
  height: 0.8rem;
  background-color: #1EA0FF;
  text-align: center;
  line-height: 0.8rem;
   @include font-dpr(14px);
  //font-size: 14px;
  color: #ffffff;
  border-radius: 6px;
  position: absolute;
  left: 0.1066rem;
  top: 1.1733rem;


}



.ts-object-key,.ts-object-value,.ts-content-key,.ts-content-value,
.ss-req-key,.ss-req-value,.ss-amount-key,.ss-amount-value,.ss-number-key,.ss-number-value,.ss-grade-key
{
  @include ts-subtitle-margin;

}

.ts-object-key,.ts-content-key,.ss-req-key,.ss-amount-key,.ss-number-key,.ss-grade-key {
    @include ts-subtitle-font;


}

.ts-object-value {
  @include font-dpr(14px);
  //font-size: 14px;
  color: #000000;

}

.ts-content-value {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
 line-height: 0.6666rem;
  @include font-dpr(14px);
  //font-size: 14px;
}

.ts-news {
  height: auto;
  background-color:#f8f8f8;
  margin-top: 0.64rem;
  @include ts-cell-border;
}

.ts-title {
   @include font-dpr(22px);
  //font-size: 22px;
  color: #696969;

  font-weight: 400;
font-family: Arial;
}

.space {
  height: 0.64rem;
}

.paragraph-space {
  width: 2.6666rem;
}


.ts-details {
  text-decoration: none;
  color: #0D3AFF;
  position: relative;
 left: 7.7333rem;
  top: 0.2666rem;
}

.ss-terms {
  background-color: #f8f8f8;
  @include ts-cell-border;
margin-top: 0.64rem;
}

.ss-req-value,.ss-amount-value,.ss-number-value {
  @include ss-subcontent-font;

}

.ss-tip {
  border: 0.0266rem solid #1D72E5;
  color: #1D72E5;
  border-radius: 0.2666rem;
  text-align: center;
  width: 2.4rem;
  margin-top: 0.16rem;
  @include ts-subtitle-margin;
}

.ts-progress {
  margin-top: 0.64rem;

  @include ts-cell-border;
}

.ts-item {
  @include ts-subtitle-margin
}

.replyline {
  @include ts-subtitle-margin;
margin-left: 0.4266rem;
  padding-left: 0.32rem;
  border-left: 0.0266rem solid #666666;
}

.replyline p {
  width: 8rem;
}

.reply-img {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.2133rem;
}

.replytime {
  position: absolute;
  right: 0.1066rem;
  text-align: right;
   @include font-dpr(12px);
  //font-size: 12px;
  line-height: 0.4266rem;
}

.code {
  margin-top: 1.3333rem;
  text-align: center;

}

.code a{
  text-decoration: none;
  color: #1D72E5;
  position: absolute;
  right: 0.5333rem;
   @include font-dpr(12px);
  //font-size: 12px;
}

.comment  {
 margin-top: 0.8rem;
  @include ts-cell-border;
  @include ts-subtitle-margin
}

.fa-angle-right{
  position: absolute;

  right: 0.1333rem;
}
.comment span {
position: absolute;
  right: 0.5333rem;

  @include font-dpr(12px);
  //font-size: 12px;
}



.write-comment {
  margin-top: 0.64rem;
  text-align: center;

}
